In [124]:
import numpy as np
import pandas as pd 
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [115]:
data=pd.read_csv('scraped_final.csv')
data

                         title  year duration      rating
0     The Shawshank Redemption  1994   2h 22m  9.3 (2.9M)
1                The Godfather  1972   2h 55m    9.2 (2M)
2              The Dark Knight  2008   2h 32m  9.0 (2.9M)
3        The Godfather Part II  1974   3h 22m  9.0 (1.4M)
4                 12 Angry Men  1957   1h 36m  9.0 (860K)
..                         ...   ...      ...         ...
245                6. The Help  2011   2h 26m  8.1 (491K)
246   7. It Happened One Night  1934   1h 45m  8.1 (112K)
247                 8. Aladdin  1992   1h 30m  8.0 (464K)
248      9. Dances with Wolves  1990    3h 1m  8.0 (289K)
249            0. Paris, Texas  1984   2h 25m  8.1 (118K)

[250 rows x 4 columns]

# Resolving the title section

In [116]:
for index, title in enumerate(data['title']):
    if "." in (title.split()[0]):
        data['title'][index] = title[2:]
    else:
        pass

C:\Users\SHREY\AppData\Local\Temp\ipykernel_22304\3958207700.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['title'][index] = title[2:]

# Resolving the Rating Section

In [117]:
data

                         title  year duration      rating
0     The Shawshank Redemption  1994   2h 22m  9.3 (2.9M)
1                The Godfather  1972   2h 55m    9.2 (2M)
2              The Dark Knight  2008   2h 32m  9.0 (2.9M)
3        The Godfather Part II  1974   3h 22m  9.0 (1.4M)
4                 12 Angry Men  1957   1h 36m  9.0 (860K)
..                         ...   ...      ...         ...
245                   The Help  2011   2h 26m  8.1 (491K)
246      It Happened One Night  1934   1h 45m  8.1 (112K)
247                    Aladdin  1992   1h 30m  8.0 (464K)
248         Dances with Wolves  1990    3h 1m  8.0 (289K)
249               Paris, Texas  1984   2h 25m  8.1 (118K)

[250 rows x 4 columns]

In [118]:

for i in range(len(data['rating'])):
    data['rating'][i] = data['rating'][i].split()[0]

C:\Users\SHREY\AppData\Local\Temp\ipykernel_22304\1681414561.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['rating'][i] = data['rating'][i].split()[0]

In [119]:
data

                         title  year duration rating
0     The Shawshank Redemption  1994   2h 22m    9.3
1                The Godfather  1972   2h 55m    9.2
2              The Dark Knight  2008   2h 32m    9.0
3        The Godfather Part II  1974   3h 22m    9.0
4                 12 Angry Men  1957   1h 36m    9.0
..                         ...   ...      ...    ...
245                   The Help  2011   2h 26m    8.1
246      It Happened One Night  1934   1h 45m    8.1
247                    Aladdin  1992   1h 30m    8.0
248         Dances with Wolves  1990    3h 1m    8.0
249               Paris, Texas  1984   2h 25m    8.1

[250 rows x 4 columns]

In [120]:
for i in range(len(data['duration'])):
    parts = data['duration'][i].split() 
    if len(parts) == 2:  
        hours = int(parts[0][:-1]) 
        minutes = int(parts[1][:-1])  
        total_minutes = hours * 60 + minutes  
    elif 'h' in data['duration'][i]:  
        hours = int(parts[0][:-1])  
        total_minutes = hours * 60  
    elif 'm' in data['duration'][i]:  
        minutes = int(parts[0][:-1]) 
        total_minutes = minutes  
    else:
        total_minutes = 0  
    data['duration'][i] = total_minutes

C:\Users\SHREY\AppData\Local\Temp\ipykernel_22304\830762287.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['duration'][i] = total_minutes

In [121]:
data

                         title  year duration rating
0     The Shawshank Redemption  1994      142    9.3
1                The Godfather  1972      175    9.2
2              The Dark Knight  2008      152    9.0
3        The Godfather Part II  1974      202    9.0
4                 12 Angry Men  1957       96    9.0
..                         ...   ...      ...    ...
245                   The Help  2011      146    8.1
246      It Happened One Night  1934      105    8.1
247                    Aladdin  1992       90    8.0
248         Dances with Wolves  1990      181    8.0
249               Paris, Texas  1984      145    8.1

[250 rows x 4 columns]

In [123]:
data.to_csv("Final_preprocessed_data.csv")